.default {
  composes: default from "../layout/Layout.module.css";

  position: relative;
  padding: 0 var(--main-page-indent-right) var(--main-page-indent-bottom)
    var(--main-page-indent-left);

  scroll-snap-align: start;
}
