.default {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 calc(-1 * var(--main-page-indent-right))
    calc(-1 * var(--main-page-indent-bottom))
    calc(-1 * var(--main-page-indent-left));

  scroll-snap-type: x mandatory;

  scrollbar-width: none;
}

.default::-webkit-scrollbar {
  display: none;
}
