.default {
  width: 0;
  display:flex;
  /* flex-wrap: wrap; */
  justify-content:center;
  flex-direction: row-reverse;
  align-items:center;
}

.label {
  text-transform: uppercase;
  writing-mode: vertical-rl;
  flex: 0 0 0;
  padding: 10px;
  transform: rotate(0.5turn);
}

.labelPrev {
  
}

.labelNext {
  
}
